<div class="h-96 w-full text-center">
  <div>
    <h1>¿QUÉ INCLUYE?</h1>
    <ul class="list-disc">
      <li>Hospedaje 2 días, 1 noches en HOSTAL LA MARIAPOLIS en habitación compartida (máximo __ personas)</li>
      <li>Deliciosa comida vegetariana durante los 2 días del retiro</li>
      <li>Barra de café y aromáticas</li>
      <li>Clases de yoga y meditación</li>
      <li>Talleres de Alimentación Saludable</li>
      <li>Presentación de  Danza</li>
      <li>Terapia de Bosque</li>
      <li>Espacios de silencio, descanso y compartir.</li>
    </ul>
  </div>
  <div>
    <p>*NO incluye transporte, pero si necesitas, puedes salir desde ____ por un costo de $________ COP</p>
  </div>
  <div class="h-48 bg-cover" style="background-image: url(/src/assets/images/beach.jpg); background-position: bottom">
  </div>
</div>