<div class='h-auto w-full text-center'>
  <div>
    <h1 class='text-3xl py-5'>¿QUÉ INCLUYE?</h1>
    <ul class='list-disc text-xl font-bold grid gap-1'>
      <li>Deliciosa comida vegetariana durante los 2 días del retiro</li>
      <li>Playa privada</li>
      <li>Clases de yoga</li>
      <li>Taller de Alimentación Saludable</li>
      <li>Inmersión cultural</li>
      <li>Terapia de volcán</li>
      <li>Espacios de silencio, descanso y compartir</li>
    </ul>
  </div>
  <div>
    <h1 class='text-3xl py-10'>¿QUÉ NO INCLUYE?</h1>
    <ul class='list-disc text-xl font-bold grid gap-1'>
      <li class='underline'>
        Tour historico guiado a Necoclí (aporte voluntario)
      </li>
      <li>* NO incluye transporte a Necoclí</li>
      <li>* NO incluye el hospedaje</li>
    </ul>
  </div>
  <div
    class='h-48 bg-cover mt-10'
    style='background-image: url(/src/assets/images/beach.jpg); background-position: bottom'>
  </div>
</div>
