<div>
  <div class="absolute z-10 my-10">
    <img class="h-72" src='src/assets/images/plantas.webp' alt='' />
  </div>
  <div class='h-96 bg-rose-200 my-10 flex flex-col justify-center text-center'>
    <h2 class='text-4xl font-medium'>SEPARA TU CUPO</h2>
    <div class='text-xl font-bold my-4'>
      <h3>INVERSIÓN</h3>
      <p>(Precio por pronto pago hasta el ________ 2024)</p>
      <p>$________ pesos</p>
      <p>(Tarifa plena a partir del ________ 2024)</p>
      <p>$________ pesos</p>
      <p>
        Opción de pago en 2 cuotas sin intereses, una ahora y la otra antes del
        ________ 2024
      </p>
    </div>
  </div>
</div>
