---
import plantas from '../assets/images/plantas.webp'
---

<div>
  <div class="absolute z-10 my-10">
    <img class="h-72" src={plantas.src} alt='' />
  </div>
  <div class='h-96 bg-rose-200 my-10 flex flex-col justify-center text-center'>
    <h2 class='text-4xl font-medium'>SEPARA TU CUPO</h2>
    <div class='text-xl font-bold my-4'>
      <h3>INVERSIÓN</h3>
      <p>Precio por persona 215.000 pesos</p>
      <p>Puedes pagar en 2 coutas, la primera al momento del registro y la segunda antes del ____ de ____ de 2024.</p>
    </div>
  </div>
</div>
