<div class='h-40 bg-rose-200 flex flex-col justify-center text-center gap-5'>
  <h2 class='text-4xl font-medium'>Tienes preguntas?</h2>
  <h3 class='text-xl font-bold'>No dude en escribrinos</h3>
  <h3 class='text-xl font-bold'>
    <a href='https://wa.link/o9uj0h'>Contacto: 3162926297 - 3007741217</a>
  </h3>
</div>
