---
import alimentacion from "../assets/icons/alimentacion.webp";
import yoga from "../assets/icons/yoga.png";
import danza from "../assets/icons/danza.png";
import bosqueterapia from "../assets/icons/bosqueterapia.webp";
---

<div class='bg-rose-100 text-center py-8'>
  <h1 class='font-bold text-3xl'>Experiencias que recibirás</h1>
  <div class='grid grid-cols-2 gap-28 py-4 w-1/2 mx-auto'>
    <div class='grid grid-cols-1 gap-2'>
      <img class='mx-auto w-20' src={alimentacion.src} alt='' />
      <h3 class='font-bold text-xl'>Alimentación Saludable</h3>
      <p class='text-lg'>
        Taller en el que aprenderás a reconocer tú cuerpo, a escucharlo y a
        elegir la mejor alimentacion para mantenerlo en equilibrio.
      </p>
    </div>
    <div class='grid grid-cols-1 gap-4'>
      <img class='mx-auto w-20' src={yoga.src} alt='' />
      <h3 class='font-bold text-xl'>Yoga</h3>
      <p class='text-lg'>
        Comenzaremos el día elevando la energía a través del yoga, la
        respiración consciente y la meditación. Aunque jamás hayas practicado,
        en esta clase disfrutarás de conectar con tu cuerpo y liberar la energia
        bloqueada.
      </p>
    </div>
    <div class='grid grid-cols-1 gap-4'>
      <img class='mx-auto w-20' src={danza.src} alt='' />
      <h3 class='font-bold text-xl'>Danza</h3>
      <p class='text-lg'>
        Sesión en la que aprenderás a escuchar todos los mensajes que tu cuerpo
        tiene para ti, conectarás con el disfrute, la alegría, la libertad y la
        aceptación amorosa de tu ser.
      </p>
    </div>
    <div class='grid grid-cols-1 gap-4'>
      <img class='mx-auto w-20' src={bosqueterapia.src} alt='' />
      <h3 class='font-bold text-xl'>Bosqueterapia</h3>
      <p class='text-lg'>
        Experimentaremos el poder curativo de la naturaleza, sumergiendo
        nuestros sentidos en el bosque para apagar el ruido de la mente y
        experimentar serenidad y paz interior.
      </p>
    </div>
  </div>
</div>
