<header class='flex justify-end items-center py-3 px-20 w-full mx-auto bg-slate-600'>
  <nav class='flex flex-row gap-x-10'>
    <a href='/'>Home</a>
    <a href='/experiences'>Experiencias</a>
    <a href='/places'>Lugar</a>
  </nav>
</header>
