<header class='flex justify-end items-center py-3 w-[1120px]'>
  <nav class='flex flex-row gap-x-10'>
    <a href='/'>Home</a>
    <a href='/experiences'>Experiencias</a>
    <a href='/places'>Lugar</a>
  </nav>
</header>
