<div class='h-full w-full'>
  <img
    class='bg-cover bg-center h-full w-full absolute z-0'
    src='../assets/images/mariapolisExterior.JPEG'
    alt='Vista hacía el mar del Hostel La Mariapolis'
  />
  <div class="relative z-0">
    <img
      class='w-2/5 h-1/5 flex justify-center mx-auto my-10 relative z-20'
      src='../assets/images/mariapolisNoche.jpg'
      alt=''
    />
    <h1
      class='text-white text-6xl font-bold flex justify-center relative z-30 -top-40'>
      RETIRO DE RENOVACIÓN
    </h1>
  </div>
</div>
