<div class='min-h-screen w-full bg-red-400 relative'>
  <div
    class='w-1/2 bottom-0 absolute p-16 text-8xl grid justify-center text-center'>
    <h1>"Abrete a tú Luz interior"</h1>
    <div class='text-4xl grid gap-4'>
      <h2 class=''>Danza, Yoga, Alimentación saludable y Bosqueterapia.</h2>
      <h2 class='font-bold'>15 y 16 de MAYO de 2024</h2>
      <div class='flex justify-center'>
        <img class='w-10 h-12' src='src/assets/icons/mapPoint.png' alt='' />
        <div>
          <p>~Hostal la Mariápolis~</p>
          <p>Necoclí, Colombia</p>
        </div>
      </div>
    </div>
  </div>
</div>
