<div>
  <div class='my-10'>
    <img
      class='h-72 absolute z-10 -right-3 transform -scale-x-90'
      src='/src/assets/images/plantas.webp'
      alt=''
    />
  </div>
  <div class='c'>
    <h2 class='text-4xl font-medium'>FORMAS DE PAGO</h2>
    <p class='text-xl font-bold my-4'>
      Puedes pagar en 2 cuotas, la primera al momento del registro y las otras
      antes del ___ de ________ de 2024.
    </p>
    <p class='text-xl font-bold my-4'>
      Se reciben transferencias a Bancolombia, la información de la cuenta la
      encontrarás en el formulario de registro.
    </p>
  </div>
</div>
