---
import 'swiper/swiper-bundle.css';
---

<div>
  <div class='h-64 py-8 text-center'>
    <h1 class='font-bold uppercase text-3xl py-4'>El lugar que nos acogerá</h1>
    <p class='text-xl py-2'>
      Nos hospedaremos en el <b>HOSTAL LA MARIÁPOLIS</b>, un lugar cálido y
      hermoso, rodeado de playa y naturaleza, silencio y lleno de paz, ideal
      para el descanso y la desconexión.
    </p>
    <p class='text-xl py-2'>
      El <b>HOSTAL LA MARIÁPOLIS</b> se encuentra en el municipio de Necoclí - Antioquia
      a 7 horas de Medellín.
    </p>
  </div>
</div>
