<div class="text-center grid gap-10 my-10">
  <h2 class="text-3xl">¿QUIÉN GUÍA LOS ENCUENTROS?</h2>
  <div class='grid grid-cols-2 text-xl font-semibold'>
    <div class="grid px-10">
      <h3 class="text-rose-400">DUNIECHKA RANGEL</h3>
      <p>
        Soy profesora de Yoga y meditación certificada por la AYA (Alianza Yoga
        Americana) y Nutricionista profesional.
      </p>
      <p>
        Me gusta enfocar mi vida a crear esoacios y herramienras que brinden
        experiencias integrales y saludables, a través de la conexión entre la
        mente, el cuerpo y el espíritu. Dicto clases presenciales grupales e
        individuales personalizadas.
      </p>
      <p>
        Creo en que en esta carrera de la vida necesitamos desacelerar un poco
        el ritmo ajetreado para mirar hacía dentro y conectar con nosotros,
        nuestro equilibrio y nuestro bienestar.
      </p>
    </div>
    <div class="flex justify-center">
      <img class="h-96" src='/src/assets/images/mariapolis_1.jpg' alt='' />
    </div>
  </div>
  <div class='grid grid-cols-2 text-xl font-semibold'>
    <div class="flex justify-center">
      <img class="h-96" src='/src/assets/images/mariapolis_1.jpg' alt='' />
    </div>
    <div class="grid px-10">
      <h3 class="text-rose-400">SOFÍA ESCOBAR ISAZA</h3>
      <p>
        Vivo en Necoclí desde hace 7 años, desde pequeña soñé con viviracá y con nuestro Hostal La Mariápolis, mis socias y yo logramos cumplirlo. Por eso, nuestra misión es "compartir nuestro paraíso con el mundo".
      </p>
      <p>
        Soy vegetariana de nacimiento por filosofía, educación y elección. valoro la vida de todos los seres humanos del planeta y esto me ha llevado a investigar, aprender y experimentar con la comida vegetariana, por eso, en complmento de el Hostal abrimos hace 5 años nuestro restaurante vegetariano El Solar.
      </p>
      <p>
        Soy jugadora de Ultimate, bullerenguera y una mujer enamorada de Necoclí y toda su magia.
      </p>
      <p>Te invito a conocer la Mariápolis, Necoclí y toda su mágica naturaleza.</p>
    </div>
  </div>
</div>
