<script src='../js/slider.js'></script>

<head>
  <link rel='stylesheet' href='/node_modules/swiper/swiper-bundle.min.css' />
</head>

<div class="swiper h-96 w-full">
  <div class='swiper-container'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide'>Slider 1</div>
      <div class='swiper-slide'>Slider 2</div>
      <div class='swiper-slide'>Slider 3</div>
    </div>
    <div class='swiper-button-next'></div>
    <div class='swiper-button-prev'></div>
  </div>
</div>
