<script src='../js/slider.js'></script>

<head>
  <link rel='stylesheet' href='/node_modules/swiper/swiper-bundle.min.css' />
</head>

<div class="swiper h-full w-full">
  <div class='swiper-container'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide'>
        <img src="src/assets/images/mariapolis_1.jpg" alt="">
      </div>
      <div class='swiper-slide'>
        <img src="src/assets/images/mariapolis_2.jpg" alt="">
      </div>
      <div class='swiper-slide'>
        <img src="src/assets/images/mariapolis_3.jpg" alt="">
      </div>
      <div class='swiper-slide'>
        <img src="src/assets/images/mariapolis_5.jpg" alt="">
      </div>
    </div>
    <div class='swiper-button-next'></div>
    <div class='swiper-button-prev'></div>
  </div>
</div>
