<div class="h-96 mx-auto w-1/2 my-8 flex flex-wrap justify-center text-center">
  <h2 class="font-bold uppercase text-2xl">UN RETIRO PARA CONECTAR CONTIGO Y CON LA VIDA.</h2>
  <p class="text-lg">No es solo un retiro donde disfrutarás de diversas actividades, también es un espacio para escucharte, sentirte, liberarte de emociones estancadas, descansar el cuerpo y la mente, encontrar respuestas, disfrutar y conectarte con la alegría de ser tú.</p>
  <h2 class="font-bold uppercase text-2xl">¡TE ESPERAMOS PARA QUE VIVAMOS UN FIN DE SEMANA LLENO DE LUZ!</h2>
  <p class="text-lg">No necesitas experiencia previa para ser parte de las actividades que brindaremos en este retiro, solo necesitas ganas de desconcetarte, de regalarte tiempo para tí y compartir con personas maravillosas.</p>
</div>