---
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import Summary from '../components/Summary.astro';
import Location from '../components/Location.astro';
import Experiences from '../components/Experiences.astro';
import Place from '../components/Place.astro';
import Slider from '../components/Slider.astro';
import Booking from '../components/Booking.astro';
import Benefits from '../components/Benefits.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Header /> -->
    <Home />
    <Summary />
    <Location />
    <Experiences />
		<Place />
    <Slider />
    <Booking />
    <Benefits />
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }

  html {
    font-family: system-ui, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    height: auto;
  }
</style>
